# Python
__pycache__
## Python3 Virtual Environment
data-processing/Include
data-processing/Lib
data-processing/Scripts
pyvenv.cfg

## Custom
data-collection/

# Golang
## Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
## Test Binary
*.test

# Environment
.env

# Custom Binary
*.o
