{{block "head" .}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/assets/img/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="apple-touch-icon" href="/assets/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <title>empty-room</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/"> <img src="/assets/img/logo.png" class="navbar-brand" height="70"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {{range .}}
          <a class="nav-link" href="/{{.}}">{{.}}</a>
          {{end}}
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid" data-bs-spy="scroll" data-bs-target="#" data-bs-offset="10" tabindex="0">
{{end}}

{{block "footer" .}}
</div>
</body>
<footer class="foots">
  <div class="col">empty-room @ njit</div>
  <br>
  <div class="col">
    <a href="https://computing.njit.edu/"><img class="img-fluid foots-img"
        src="https://jerseyctf.com/assets/img/njit_logo.png" width="80px" alt="NJIT Logo"></a>
    <br>
    <a href="https://github.com/AOrps/empty-room"><img class="img-fluid foots-img"
        src="https://jerseyctf.com/assets/img/github-logo.png" width="40px" alt="Github Repo"></a>
  </div>
</footer>
</html>
{{end}}